.ensemble {
  position: relative;
  background: #bfbca9;
  width: 80%;
  left: 2em;
  .instrument {
    padding: 1em;
    div {
      display: inline-block;
      margin-right: 1em;
    }
    .performer {
      font-weight: bold;
    }
  }
}
