.ensemble {
  position: relative;
  background: #bfbca9;
  left: 2em;
  .instrument {
    td {
      padding: 1em;
      margin-right: 1em;
    }
    .performer {
      font-weight: bold;
    }
  }
}
